
.top-section {
	position: relative;
    min-height: 550px;
    /*background: black;*/
    width: 100%;
    display: inline-block;
}

.top-banner {
    background-position: center top;
    /* opacity: 0.9; */
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -5;
    font-weight: 500;
}

.top-mask {
	/*background-color: #5193e2; */
    /*opacity: 0.47;*/
    height: 100%;
    width: 100%;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

.top-content {
	width: 100%;
    position: absolute;
    top: calc(50% - 80px);
    text-align: center;
    color: #fff;
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    /* text-transform: uppercase; */
    letter-spacing: 0.2rem;
}

.section {
    position: relative;
}

.section .section-header {
	margin-top: 20px;
    text-align: center;
}

.section .header-1 {
    color: #323431;
    font-size: 2.6rem;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 1.2;
}
.section .header-2 {
    color: #434343;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 1px;
    /*line-height: 1.4;*/
}

/* About Section */
.about-section .about-block {
    min-height: 350px;
    /*flex-wrap: nowrap;*/
    position: relative;
    margin-top: 50px;
}
.about-section>div {
    padding: 0;
}
.about-section .about-block-left {
    padding-left: 0;
    padding-right: 0;
}
.about-section .about-block-image {
    width: 100%;
    /* margin-top: 30px; */
    /* padding: 50px; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.about-section .about-block-right {
    padding-left: 10px;
    padding-right: 8%;
}
.about-section .about-block-right .about-content {
    margin-top: 5px;
}
.about-section .about-block-right .about-content p {
    margin-bottom: 10px;
    font-size: 1.05rem;
    line-height: 1.7;
}
.text-bold {
    font-weight: bold;
}
.about-section .about-features {
    text-align: justify;
    font-size: 0.95rem;
    font-weight: 500;
    line-height: 2;
}
.about-section .about-features li {
    color: #4b4b4b;
}
.about-section .about-features .fa {
    margin-right: 10px;
    color: #7da27c;
}

/* service-block */
.service-block {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    color: rgba(0,0,0,.87);
    padding: 0 50px;
}
.service-block .service-box {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    /*min-width: 250px;*/
    /*height: 280px;*/
    cursor: pointer;
    /*padding-left: 50px;
    padding-right: 50px;*/
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
}
.service-block .service-box .service-box-title {
    position: absolute;
    font-family: "Roboto",sans-serif;
    font-size: 1.17rem;
    color: #ffffff;
    bottom: 0;
    width: 100%;
    padding: 10px 15px;
    text-align: center;
    background-color: #6c2c78;
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
}
.service-block .service-box .service-box-title img {
    width: 45px;
    height: 45px;
}
.service-block .service-box .service-box-title .title {
    margin-left: 10px;
    line-height: 45px;
    font-size: 1.5rem;
    font-weight: 400;
}
.service-block .service-box .title-mask {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    background-color: #333333;
    opacity: 0.5;
    display: none;
}
.service-block .service-box .service-box-image img {
    -webkit-transform: scale(1.16);
    -moz-transform: scale(1.16);
    transform: scale(1.16);
    /*-webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);*/
    -moz-transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
    -ms-transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
    -o-transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
    -webkit-transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
    transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
    width: 100%;
    height: 100%;
}
.service-block .service-box:hover .service-box-image img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
}

/* section block */
.section-header {
    text-align: center;
    margin-bottom: 0;
}
.section-header h2 {
    padding-bottom: 10px;
    font-size: 1.8rem;
}
.section-header h2:after {
    content: none;
}
.section-block {
	/* display: flex; */
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    /*color: rgba(0,0,0,.87);*/
    position: relative;
}

/* how it works section */
.how-it-works-section {
    background-color: #6c2c78;
    margin-top: 50px;
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 50px;
    padding-top: 30px;
    padding-bottom: 65px;
    color: #ffffff;
}
.how-it-works-header p {
    max-width: 800px;
    margin: auto;
}
.how-it-works-img {
    width: 70%;
    max-width: 900px;
    height: auto;
}
.how-it-works-content {
    width: 70%;
    max-width: 900px;
    position: relative;
    justify-content: center;
}
.how-it-works-box {
    text-align: center;
}
.how-it-works-box .box-title {
    font-size: 1.4rem;
}
.how-it-works-box .box-description {
    max-width: 280px;
}
.how-it-works-box.box1 {
    position: absolute;
    left: -75px;
    top: -50%;
}
.how-it-works-box.box2 {
    margin-top: 15px;
}
.how-it-works-box.box3 {
    position: absolute;
    right: -80px;
    top: -50%;
}

/* offer section */
.offer-section {
    margin-top: 50px;
}
.offer-section-header {
    /*padding-left: 6%;*/
    text-align: center;
}
.offer-block {
    padding: 20px;
}
.offer-block-image {
    width: 60%;
    margin: auto;
    max-width: 900px;
}
.offer-block .offer-item {
    position: relative;
    display: flex;
    margin: 15px 0;
    padding-left: 6%;
}
.offer-block .offer-item .offer-img {
    width: 80px;
    height: 80px;
    padding: 12px;
    background-color: #6c2c78;
    border-radius: 10px;
    position: relative;
    margin-right: 15px;
    text-align: center;
    box-shadow: 0px 3px 6px #00000029;
}
.offer-block .offer-item .offer-img img {
    width: 100%; 
    height: 100%;
}
.offer-block .offer-item .offer-content {
    height: 80px;
    line-height: 80px;
    max-width: 500px;
}
.offer-block .offer-item .offer-content span {
    line-height: 1.5;
    vertical-align: middle;
    display: inline-block;
}
.offer-block .offer-item .offer-content .offer-title {
    font-size: 1.35rem;
}
.offer-block .offer-item .offer-content .offer-desc {
    font-size: 0.95rem;
    color: #686868;
}

/* service stat section */
.service-stat-section {
    background-position: top;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    margin-top: 10px;
}
.service-stat-section .stat-panel {
    background-color: #6D2C77;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 8%;
    max-width: 450px;
    padding: 30px;
    border-radius: 20px;
}
.stat-panel .stat-header {
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 1px;
    line-height: 1.3;
    margin-top: 10px;
}
.stat-panel .stat-content {
    justify-content: space-around;
    display: flex;
    margin-top: 50px;
}
.stat-panel .stat-item .stat-num {
    background-repeat: no-repeat;
    height: 80px;
    width: 100%;
    background-size: 75px;
    color: white;
    font-size: 2.5rem;
    padding-top: 10px;
    font-weight: 600;
    background-position: center bottom;
    text-align: center;
}
.stat-panel .stat-item:hover .stat-num {
    background-position: center center;
}
.stat-panel .stat-item .stat-title {
    font-size: 1.05rem;
    margin-top: 10px;
}

/* Join Us Section */
.join-us-section {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #6c2c78;
    color: #ffffff;
    background-size: 140px, 80px, 90px;
    background-position: -55px calc(100% + 5px), 50% -10px, calc(100% + 30px) calc(100% + 6px);
    background-repeat: no-repeat;
}
.join-us-section .join-us-button {
    padding: 10px 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    color: #030303;
    font-size: 1.5rem;
    border-radius: 10px;
}
.join-us-text {
    height: 80px;
    line-height: 80px;
}
.join-us-text span {
    line-height: 1.5;
    vertical-align: middle;
    display: inline-block;
}
.join-us-text .join-us-title {
    font-size: 1.65rem;
}
.join-us-text .join-us-desc {
    font-size: 0.95rem;
}
.join-us-block-left {
    display: flex;
    justify-content: center;
}
.join-us-block-right {
    display: flex;
    justify-content: center;
}
.join-us-block-right:before {
    content: "";
    width: 5px;
    background-color: #ffffff;
    height: 100%;
    display: inline-block;
    float: left;
    position: absolute;
    left: 0;
    border-radius: 5px;
}

/* Our Goal Section */
.our-goal-section {
    margin-top: 50px;
}
.our-goal-block .our-goal-block-left {
    padding-left: 6%;
}
.our-goal-block .our-goal-block-right {
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 30px;
}
.our-goal-block .offer-item {
    position: relative;
    display: flex;
    margin: 25px 0;
}
.our-goal-block .offer-item .offer-img {
    width: 80px;
    height: 80px;
    padding: 12px;
    background-color: #6c2c78;
    border-radius: 10px;
    position: relative;
    margin-right: 15px;
    text-align: center;
    box-shadow: 0px 3px 6px #00000029;
}
.our-goal-block .offer-item .offer-img img {
    width: 100%; 
    height: 100%;
}
.our-goal-block .offer-item .offer-content {
    height: 80px;
    line-height: 80px;
    max-width: 500px;
}
.our-goal-block .offer-item .offer-content span {
    line-height: 1.5;
    vertical-align: middle;
    display: inline-block;
}
.our-goal-block .offer-item .offer-content .offer-title {
    font-size: 1.35rem;
}
.our-goal-block .offer-item .offer-content .offer-desc {
    font-size: 0.95rem;
    color: #686868;
}

/* book section */
.book-section {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffffff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 75px;
    padding-bottom: 75px;
    margin-top: 50px;
}
.book-section-mask {
    /*background-color: #2d2e2f;*/
    opacity: 0.65;
    height: 100%;
    width: 100%;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}
.book-block {
    width: 100%;
}
.book-text {
    height: 80px;
    line-height: 80px;
}
.book-text span {
    line-height: 1.5;
    vertical-align: middle;
    display: inline-block;
}
.book-text .book-title {
    font-size: 1.85rem;
}
.book-text .book-desc {
    font-size: 0.95rem;
}
.book-block-left {
    display: flex;
    justify-content: left;
    padding-left: 5%;
}
.book-block-right {
    /* display: flex; */
    /* justify-content: left; */
    /* padding-left: 5%; */
    padding-top: 15px;
    text-align: left;
}
.book-block .book-button {
    background-color: #6c2c78;
    border-color: #ffffff;
    border-radius: 10px;
    padding: 10px 30px;
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
}
.book-block .book-button:hover {
    background: #6c2c78;
    /* border-color: #6c2c78; */
    box-shadow: 0 0 0 3px rgb(255 255 255 / 50%);
}

/* question section */
.question-section {
    padding-bottom: 0;
    margin-top: 30px;
}
.question-section .header-top {
    color: #5e5e5e;
    font-size: 1.5rem;
    margin-bottom: 8px;
}
.question-section .header-text {
    color: #6b3375;
    font-weight: 600;
    letter-spacing: 1px;
}
.question-section .header-desc {
    font-size: 0.95rem;
    color: #5e5e5e;
}
.question-block .question-block-left {
    /*padding-left: 6%;
    padding-right: 6%;*/
    position: relative;
}
.question-block .question-block-right {
    /*padding-left: 6%;*/
    padding-top: 30px;
    position: relative;
}
.question-item {
    width: 90%;
    padding: 10px 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    line-height: 2rem;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 0.945rem;
    font-weight: bold;
    position: relative;
    /*cursor: pointer;*/
}
.faq-item-title {
    position: relative;
    cursor: pointer;
    color: #424242;
}
.faq-item-content {
    color: #727272;
}
.faq-item-title i {
    float: right;
    font-size: 1.8rem;
    line-height: 2rem;
    color: #bcbcbc;
}

/* ----------- Not Used -------------- */

/* Notice Box */
.notice-box {
	width: 360px;
    height: 340px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    padding: 50px 20px;
    /* box-shadow: 0 0 6px -2px; */
    margin: 15px;
    text-align: center;
    cursor: default;
    box-shadow: 0 0 25px 0 #d8d8d8;
}

/* .notice-box div {
	padding: 0 28px 25px;
} */

.notice-box img {
	width: 100px;
    /* padding: 12px; */
    border-radius: 10px;
}
.service-img.light-blue {
	background-color: #CBF5FF;
}
.service-img.purple {
	background-color: #F6D5FF;
}
.service-img.light-green {
	background-color: #D1FBDB;
}
.service-img.blue {
	background-color: #7fb8fd;
}
.service-img.pink {
	background-color: #eda6ca;
}

.notice-box .service-title {
	height: 70px;
    text-align: center;
    line-height: 70px;
    margin-top: 5px;
    /*font-size: 1.5rem;*/
    color: #000;
}

.notice-box .service-title h3{
	/*line-height: 1;*/
  	display: inline-block;
  	vertical-align: middle;
  	font-size: 1.325rem;
    font-weight: 600;
}

.notice-box .service-description {
	height: 60px;
    text-align: justify;
    line-height: 60px;
    color: #717171;
}

.notice-box .service-description span {
	display: inline-block;
    vertical-align: middle;
    font-size: 0.865rem;
    line-height: 1.5;
}

.bottom-section {
	position: relative;
    height: 200px;
    background: black;
}

.bottom-banner {
    background-image: url(../../img/services/bottom_banner.jpg);
    background-position: center top;
    /* opacity: 0.9; */
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    font-weight: 500;
}

.bottom-mask {
	background-color: #5193e2; 
    opacity: 0.47;
    height: 100%;
    width: 100%;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

.bottom-content {
	width: 100%;
    position: absolute;
    top: calc(50% - 5px);
    text-align: center;
    color: #fff;
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    /*text-transform: uppercase;*/
    letter-spacing: 0.2rem;
}

.bottom-button {
	font-weight: bold;
    background-color: #125CB5;
    border-color: #707070;
    padding: 12px 38px;
    margin-left: 20px;
    color: #fff;
    font-size: .875rem;
    letter-spacing: 2px;
}

.bottom-button:hover {
	color: #fff;
	/*background-color: #32a2f5;*/
	box-shadow: 0 0 7px 1px #8dadc6;
}

/* serarch box ---------------- */

.section-search {
    margin-top: 50px;
    margin-left: 4%;
    margin-bottom: 50px;
    width: 42%;
    min-width: 580px;
}

.search-box {
    width: 100%;
    /*background: #ffffff;*/
    background-color: #6c2c78;
    color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    display: table;
    box-shadow: 0 0 20px 0 #b1b4b5;
}

#get_service input, #get_service select, #get_service textarea {
    padding-left: 47px;
}

.input-name:before {
    content: "";
    background: url(/assets/img/ic_person.png) no-repeat;
    width: 29px;
    height: 21px;
    position: absolute;
    margin-top: 12px;
    margin-left: 10px;
    border-right: solid 1px #C2C2C2;
    margin-right: 10px;
    left: 5px;
}
.input-email:before {
    content: "";
    background: url(/assets/img/ic_mail.png) no-repeat;
    width: 29px;
    height: 21px;
    position: absolute;
    margin-top: 14px;
    margin-left: 10px;
    border-right: solid 1px #C2C2C2;
    margin-right: 10px;
    left: 5px;
}
.input-zipcode:before {
    content: "";
    background: url(/assets/img/ic_zipcode.png) no-repeat;
    width: 29px;
    height: 23px;
    position: absolute;
    margin-top: 12px;
    margin-left: 10px;
    border-right: solid 1px #C2C2C2;
    margin-right: 10px;
    left: 5px;
    z-index: 100;
}
.input-phone:before {
    content: "";
    background: url(/assets/img/ic_phone.png) no-repeat;
    width: 29px;
    height: 21px;
    position: absolute;
    margin-top: 12px;
    margin-left: 10px;
    border-right: solid 1px #C2C2C2;
    margin-right: 10px;
    left: 5px;
}
.select-service-type:before {
    content: "";
    background: url(/assets/img/ic_service.png) no-repeat;
    width: 29px;
    height: 27px;
    position: absolute;
    margin-top: 9px;
    margin-left: 10px;
    border-right: solid 1px #C2C2C2;
    margin-right: 10px;
    left: 5px;
}
.select-service:before {
    content: "";
    background: url(/assets/img/ic_service2.png) no-repeat;
    width: 29px;
    height: 27px;
    position: absolute;
    margin-top: 9px;
    margin-left: 10px;
    border-right: solid 1px #C2C2C2;
    margin-right: 10px;
    left: 5px;
}
.input-bookdate:before {
    content: "";
    background: url(/assets/img/ic_date.png) no-repeat;
    width: 29px;
    height: 23px;
    position: absolute;
    margin-top: 12px;
    margin-left: 10px;
    border-right: solid 1px #C2C2C2;
    margin-right: 10px;
    left: 5px;
}
.input-booktime:before {
    content: "";
    background: url(/assets/img/ic_schedule.png) no-repeat;
    width: 29px;
    height: 23px;
    position: absolute;
    margin-top: 12px;
    margin-left: 10px;
    border-right: solid 1px #C2C2C2;
    margin-right: 10px;
    left: 5px;
}
.textarea-desc:before {
    content: "";
    background: url(/assets/img/ic_description.png) no-repeat;
    width: 29px;
    height: 21px;
    position: absolute;
    margin-top: 12px;
    margin-left: 10px;
    border-right: solid 1px #C2C2C2;
    margin-right: 10px;
    left: 5px;
}

.btn.get-price {
    padding: 8px 45px;
    /* padding-left: 40px; */
    /* padding-right: 40px; */
    font-size: 0.945rem;
    color: #ffffff;
    border: 1px solid;
    border-radius: 20px;
}

.btn.get-price:hover {
    color: #c6c6f7;
}

.search-box-header {
    margin: 5px 0 35px 0;
}

.search-box .header-text {
    /*color: #592a65;*/
    color: #ffffff;
    font-weight: 300;
    font-size: 1.45rem;
}

/*.search-box .form-control.is-invalid, .search-box .was-validated .form-control:invalid {

}*/

/* ------------------------------ */

.donot-take-ourword-section {
    background-color: #f0f2f6;
}

.customer-box {
	/*width: 280px;*/
    height: 360px;
    border: 1px solid #d0d0d1;
    border-radius: 4px;
    padding: 30px 20px;
    /* box-shadow: 0 0 6px -2px; */
    margin: 6px;
    text-align: center;
    cursor: pointer;
    background-color: #ffffff;
}

.customer-box:hover {
    box-shadow: 0 0 10px 0 #dfe0e4;
}

.customer-box img.customer-photo {
    display: inline-block;
    width: 90px;
    /* padding: 12px; */
    border-radius: 45px;
    margin-top: 10px;
}

.customer-box img.quoto-mark {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40px;
}

.customer-box .customer-name {
	height: 70px;
    text-align: center;
    line-height: 70px;
    /*font-size: 1.5rem;*/
    color: #000;
    /* font-weight: bold; */
}

.customer-box .customer-name span{
  	display: inline-block;
  	vertical-align: middle;
  	font-size: 0.865rem;
    font-weight: 600;
}

.customer-box .customer-description {
	/* height: 100px; */
    text-align: center;
    /* line-height: 100px; */
    color: #717171;
}

.customer-box .customer-description span {
	display: inline-block;
    vertical-align: middle;
    font-size: 0.865rem;
    line-height: 1.8;
}

/* what we do section */
.what-we-do-section {
    padding-bottom: 0;
}
.service-type-box {
    /* height: 380px; */
    position: relative;
    margin: 0 5px 50px 0;
}

.service-type-box:last-child {
    margin-bottom: 0;
}

.service-type-box:nth-child(odd) {
    direction: ltr;
}

.service-type-box:nth-child(even) {
    direction: rtl;
}

.service-type-image-div {
    position: relative;
    padding: 10px 20px;
}

.service-type-image {
    width: 100%;
    /* height: 380px; */
}

.service-type-list-div {
    position: relative;
}

.service-type-header {
    margin-bottom: 20px;
}

.service-item {
    font-size: 0.928rem;
}

.service-item i {
    color: #724a7c;
    margin-right: 5px;
}

.book-btn {
    margin-top: 5px;
    padding: 5px 55px 5px 30px;
    line-height: 2rem;
}

.book-btn i {
    position: absolute;
    font-size: 1.852rem;
    margin-left: 10px;
    font-weight: 100;
}

.service-type-list-div {
    padding: 40px 0 40px 20px;
    padding-top: calc(50% - 130px);
    direction: ltr;
    /*min-width: 380px;*/
    z-index: 1;
    background-color: #ffffff;
}

/* reason tazzer section */
.reason-tazzer-section {
    padding-bottom: 0;
    padding-top: 10px;
}

/* why choose tazzer section */
.why-choose-tazzer-section {
    padding-top: 0;
}

.choose-description-div {
    padding: 40px 50px 40px 0;
    margin: 5px 40px;
    direction: ltr;
    min-width: 380px;
    z-index: 1;
    background-color: #ffffff;
    margin-left: 18%;
    text-align: justify;
}

.choose-description-div .header {
    margin-bottom: 20px;
}

.choose-description-div .description {
    font-size: 0.928rem;
    line-height: 1.5;
}
.welcome-image {
    width: 87%;
    min-width: 430px;
}

.search-box .error {
    border-color: red;
}

.form-control.is-valid, .was-validated .form-control:valid {
    border-color: #dcdcdc;
    padding-right: 0.75rem;
    background-image: none;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    background-image: none;
    padding-right: 0.75rem;
}

.owl-carousel .owl-dots .owl-dot {
    background: rgba(18, 92, 181, 0.2);
}

.owl-carousel .owl-dots .owl-dot.active {
    background: #125cb5;
}

.show-all-service {
    position: absolute;
    margin-top: 65px;
    right: 100px;
    font-size: 0.945rem;
}

/* ---- reponsive --------- */
@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    .section .header-1 {
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 1.2;
    }
    .section .header-2 {
        font-size: 1.35rem;
        font-weight: 400;
        letter-spacing: 1px;
    }

    .about-section .about-block {
        min-height: unset;
    }

    .about-block .about-block-left {
        display: none;
    }

    /* service-block */
    .service-block {
        padding: 0 10px;
    }

    .book-block-left {
        display: flex;
        justify-content: center;
        padding-left: 15px;
    }

    .book-block-right {        
        padding-top: 15px;
        text-align: center;
    }


    .bottom-content {
        top: 60px;
    }

    .service-type-image-div {
        padding: 0;
    }

	.bottom-button {
		display: inline-block;
		margin-top: 20px;
	}

    .service-type-list-div {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .section-block {
        margin: 0;
    }

    .choose-description-div {
        margin: 0;
    }

    .welcome-image {
        width: 100%;
        min-width: auto;
    }

    .show-all-service {
        position: relative;
        margin-top: 5px;
        margin-left: 30px;
        right: unset;
    }

    .section-search {
        margin-top: 40px;
        margin-left: 40px;
        margin-bottom: 40px;
        width: calc(100% - 80px);
        min-width: unset; 
    }

    .how-it-works-box.box1, .how-it-works-box.box2, .how-it-works-box.box3 {
        position: initial;
        margin-top: 15px;
    }
    #get_service input, #get_service select, #get_service textarea {
     
        -webkit-appearance: none;
    }
}