.hero-section {
    position: relative;
}
/* -- slideshow ---*/
.ttr_slide .home-content {
    /*position: relative;*/
    /*left: 0;*/
    /*top: 50%;*/
    width: 60%;
    margin-top: 10%;
    text-align: center;
}
.ttr_slide .home-content .content {
    text-align: center;
}
.ttr_slide .home-content h2 {
    font-size: 2.8rem;
}
.ttr_slide .home-content p {
    font-size: 1.2rem;
}
.ttr_slide .first-image-button {
    margin: auto;
    background-color: #ffffff;
    color: #585656;
}
.ttr_slide .first-image-button:hover {
    box-shadow: 0 0 0 3px rgb(255 255 255 / 50%);
}
.ttr_slideshowshape01 {
    background-color: transparent;
    background: rgba(255, 255, 255, 0);
    background-clip: padding-box;
    border-radius: 0px 0px 0px 0px;
    border: solid # 000000;
    border: solid rgba(0, 0, 0, 1);
    border-width: 0px 0px 0px 0px;
    box-shadow: none;
    margin: auto;
    left: 0;
    right: 0;
    top: 194px;
    width: 871px;
    min-height: 157px;
    position: absolute;
    transform: rotate(0 deg);
   -moz-transform: rotate(0 deg);
   -webkit-transform: rotate(0 deg);
   -o-transform: rotate(0 deg);
    box-sizing: border-box;
    word-wrap: break-word;
    display: block;
}

#Slide0 {
    background-color: #2E1532;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: Center Center;
    background-clip: padding-box;
}

#Slide1 {
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: Center Center;
    background-clip: padding-box;
}

#Slide2 {
    background-color: #272727;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: Center Center;
    background-clip: padding-box;
}

#Slide3 {
    background-color: #272727;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: Center Center;
    background-clip: padding-box;
}

#Slide4 {
    background-color: #272727;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: Center Center;
    background-clip: padding-box;
}

.ttr_slide {
    height: 550px;
    width: 100%;
}

#ttr_slideshow_inner ul {
    list-style: outside none none;
}

#ttr_slideshow_inner {
    height: 550px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

#ttr_slideshow_inner ul li>a {
    height: 550px;
    position: absolute;
    overflow: hidden;
    width: 100%;
}

#ttr_slideshow_inner>ul li {
    position: absolute;
}

.ttr_slideshow_in {
    height: 550px;
    position: absolute;
    width: 100%;
    top: 0;
    pointer-events: none;
}

.ttr_slideshow_in.ttr_slideshow_last div,
.ttr_slideshow_in.ttr_slideshow_last a {
    pointer-events: auto;
}

.ttr_slideshow_last {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    pointer-events: none;
    height: 550px;
}

.ttr_slideshow_last div a,
.ttr_slideshow_last a {
    pointer-events: auto;
}

.ttr_slideshow {
    box-sizing: content-box !important;
    position: relative;
    border-radius: 0px 0px 0px 0px;
    /*border: solid #E7E7E7;*/
    border: solid rgba(231, 231, 231, 1);
    border-width: 0px 0px 0px 0px;
    box-shadow: none;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    height: 550px;
}

.paginationLink a.pg {
    background-color: transparent;
    background: rgba(255, 255, 255, 0);
    background-clip: padding-box;
    border-radius: 0px 0px 0px 0px;
    border: solid #019CCC;
    border: solid rgba(1, 156, 204, 1);
    border-width: 2px 2px 2px 2px;
    box-shadow: none;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 2px;

}

.paginationLink a.pg:hover {
    background-color: transparent;
    background: rgba(255, 255, 255, 0);
    background-clip: padding-box;
    border-radius: 0px 0px 0px 0px;
    border: solid #019CCC;
    border: solid rgba(1, 156, 204, 1);
    border-width: 2px 2px 2px 2px;
    box-shadow: none;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 2px;

}

.paginationLink.current a.pg {
    background-color: #FFE167;
    background: rgba(255, 225, 103, 1);
    background-clip: padding-box;
    border-radius: 0px 0px 0px 0px;
    border: solid #F8F8F8;
    border: solid rgba(248, 248, 248, 1);
    border-width: 2px 2px 2px 2px;
    box-shadow: none;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 2px;

}

.paginationLink a.pg {
    font-size: 0;

}

.paginationLink a.pg:hover {
    font-size: 0;

}

.paginationLink.current a.pg {
    font-size: 0;

}

.paginationLink {
    display: inline-block;

}

#nav {
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    top: 480px;
    position: absolute;
    left: 48.38%;
    font-size: 0;
    z-index: 100;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and(min-width: 150px) and(max-width: 767px) {
	.ttr_slideshow_last {
        width: auto;
    }
    .hero-section .ttr_slideshow_inner {
        height: 100% !important;
    }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and(min-width: 768px) and(max-width: 1024px) {
	.ttr_slideshow_last {
        width: auto;
    }
    #nav {
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        top: 509px;
        position: absolute;
        right: 0;
        left: 0;
        text-align: center;
    }
}
@media only screen and(min-width: 768px) and(max-width: 1024px) { 
	.ttr_slideshowshape01 {
        margin: auto;
        left: 0;
        right: 0;
        top: 214px;
        width: 731px;
        min-height: 117px;
        position: absolute;
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        box-sizing: border-box;
        word-wrap: break-word;
        display: block;
    }

    .ttr_slideshowshape01,
    .ttr_slideshowshape01 p,
    .ttr_slideshowshape01 .tt_link {
        font-size: 10.5px !important;
    }

    .ttr_slideshowshape11 {
        margin: auto;
        left: 0;
        right: 0;
        top: 213.5px;
        width: 670px;
        min-height: 118px;
        position: absolute;
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        box-sizing: border-box;
        word-wrap: break-word;
        display: block;

    }

    .ttr_slideshowshape11,
    .ttr_slideshowshape11 p,
    .ttr_slideshowshape11 .tt_link {
        font-size: 10.5px !important;
    }

    .ttr_slideshowshape21 {
        margin: auto;
        left: 0;
        right: 0;
        top: 216px;
        width: 700px;
        min-height: 113px;
        position: absolute;
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        box-sizing: border-box;
        word-wrap: break-word;
        display: block;
    }

    .ttr_slideshowshape21,
    .ttr_slideshowshape21 p,
    .ttr_slideshowshape21 .tt_link {
        font-size: 10.5px !important;
    }

    /*#Slide0 {
        background: url(../../img/home/HomeTabletSlide0.jpg);
        background-color: #2E1532;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: Center Center;
        background-clip: padding-box;
    }*/

    .ttr_slideshow {
        display: block;
    }

    .ttr_slideshow {
        max-width: 100%;
    }

    #ttr_slideshow_inner ul {
        list-style: outside none none;

    }

    #ttr_slideshow_inner {
        position: relative;
        overflow: hidden;
        width: 100%;

    }

    #ttr_slideshow_inner ul li>a {
        position: absolute;
        overflow: hidden;
        width: 100%;

    }

    #ttr_slideshow_inner>ul li {
        position: absolute;

    }

    .ttr_slideshow_last div a,
    .ttr_slideshow_last a {
        pointer-events: auto;

    }
}
@media only screen and (max-width : 767px) {
	.ttr_slideshowshape01 {
        margin: auto;
        left: 0;
        right: 0;
        top: 183px;
        width: 300px;
        min-height: 179px;
        position: absolute;
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        box-sizing: border-box;
        word-wrap: break-word;
        display: block;

    }

    .ttr_slideshowshape01,
    .ttr_slideshowshape01 p,
    .ttr_slideshowshape01 .tt_link {
        font-size: 8.4px !important;
    }

    .ttr_slideshowshape11 {
        margin: auto;
        left: 0;
        right: 0;
        top: 202.5px;
        width: 300px;
        min-height: 140px;
        position: absolute;
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        box-sizing: border-box;
        word-wrap: break-word;
        display: block;
    }

    .ttr_slideshowshape11,
    .ttr_slideshowshape11 p,
    .ttr_slideshowshape11 .tt_link {
        font-size: 8.96px !important;
    }

    .ttr_slideshowshape21 {
        margin: auto;
        left: 0;
        right: 0;
        top: 156px;
        width: 300px;
        min-height: 233px;
        position: absolute;
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        box-sizing: border-box;
        word-wrap: break-word;
        display: block;
    }

    .ttr_slideshowshape21,
    .ttr_slideshowshape21 p,
    .ttr_slideshowshape21 .tt_link {
        font-size: 8.96px !important;
    }
    .ttr_slideshow {
        display: block;
    }

    .ttr_slideshow {
        max-width: 100%;
    }

    #ttr_slideshow_inner ul {
        list-style: outside none none;
    }

    #ttr_slideshow_inner {
        position: relative;
        overflow: hidden;
        width: 100%;
    }

    #ttr_slideshow_inner ul li>a {
        position: absolute;
        overflow: hidden;
        width: 100%;
    }

    #ttr_slideshow_inner>ul li {
        position: absolute;
    }

    .ttr_slideshow_last div a,
    .ttr_slideshow_last a {
        pointer-events: auto;
    }
    #nav {
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        top: 480px;
        position: absolute;
        left: 42.67%;
    }
}

@media only screen and (max-width: 992px) {

	.ttr_slide {
	    height: 600px;
	}

	#ttr_slideshow_inner {
	    height: 600px;
	}

	#ttr_slideshow_inner ul li>a {
	    height: 600px;
	}

	.ttr_slideshow_in {
	    height: 600px;
	}

	.ttr_slideshow_last {
	    height: 600px;
	}

	.ttr_slideshow {
	    height: 600px;
	}	

    .section-search {
        margin-top: -140px;
    }
}
/*// ----------------*/

.tazzer-button {
    background-color: #6D2C77;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: 0;
    color: #ffffff;
    font-size: .775rem;
    -webkit-appearance: button;
}



.section {
    position: relative;
}

.section .section-header {
    margin-top: 20px;
    text-align: center;
    color: #707070;
}

.section-block {
    /* display: flex; */
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgba(0,0,0,.87);
}

.section-search {
    margin-top: -39px;
}

.delivery-input {
    width: calc(100% - 130px);
}

.section .header-text {
    font-size: 1.2rem;
    color: #7d7d7c;
}

.section .header-1 {
    color: #323431;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.2;
}

.section .header-2 {
    color: #434343;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 1px;
    /*line-height: 1.4;*/
}

.section-header .header-desc {
    color: #7d7d7c;
    max-width: 800px;
    margin: auto;
}

.highlight {
    color: #6D2C77;
}

/* About Section */
.about-section {
    color: #5C5E5C;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 50px;
}
.about-section .header-1 {
    font-weight: 600;
    font-size: 2rem;
    font-weight: 600;
}
.about-section .header-2 {
    margin-top: 10px;
    color: #676567;
}
.about-section .header-text {
    font-weight: 600;
    font-size: 1.15rem;
}
.about-section .header-desc {
    margin-top: 10px;
    font-size: 1rem;
    color: #515151;
    font-weight: bold;
}
.about-section .about-block {
    min-height: 350px;
    /*flex-wrap: nowrap;*/
    position: relative;
}
.about-section .about-block-left {
    padding-left: 0;
    padding-right: 0;
    padding-top: 5%;
}
.about-section .about-block-image {
    /*width: 100%; */
    /* margin-top: 30px; */
     max-height: 550px; 
    /* height: 100%; */
    /* padding-left: 10%; */
    padding-right: 10%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.about-section .about-content {
    margin-top: 5px;
    color: #676767;
}
.about-section .about-content p {
    margin-bottom: 10px;
    font-size: 0.875rem;
    line-height: 1.7;
}
.about-section .about-features {
    text-align: justify;
    font-size: 0.85rem;
    font-weight: 500;
    line-height: 2;
}
.about-section .about-features li {
    color: #434343;
}
.about-section .about-features .fa {
    margin-right: 10px;
    border: 1px solid #888788;
    border-radius: 10px;
    color: #888788;
    font-size: 0.65rem;
    padding: 0.1rem;
}

/* Order Section */
.order-section {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffffff;
    background-size: cover;
    background-position: top;
    margin-top: 50px;
}
.order-section-mask {
    background-color: #6D2C77;
    opacity: 0.77;
    height: 100%;
    width: 100%;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}
.order-section .order-button {
    background-color: #ffffff;
    border-color: #ffffff;
    border-radius: 5px;
    padding: 8px 10px;
    color: #;
    font-size: 0.85rem;
    margin-top: 15px;
    margin-bottom: 10px;
}
.order-section .order-button:hover {
    box-shadow: 0 0 0 3px rgb(255 255 255 / 50%);
}
.order-text {
    /*height: 80px;
    line-height: 80px;*/
}
.order-text span {
    line-height: 1.5;
    vertical-align: middle;
    display: inline-block;
}
.order-text .order-title {
    font-size: 1.8rem;
    line-height: 2;
}
.order-text .order-desc {
    font-size: 0.95rem;
    max-width: 470px;
    display: inline-block;
}
.order-block-left {
    /*display: flex;
    justify-content: center;*/
    text-align: center;
}
.order-block-right {
    display: flex;
    justify-content: center;
    position: relative;
}
.order-section .order-block-image {
    height: calc(100% + 300px);
    position: absolute;
    top: -130px;
}

/* About2 Section */
.about2-section {
    color: #5C5E5C;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 50px;
}
.about2-section .header-1 {
    font-weight: 600;
    font-size: 2.25rem;
    font-weight: 600;
}
.about2-section .header-2 {
    margin-top: 10px;
    color: #676567;
}
.about2-section .header-text {
    font-weight: 600;
    font-size: 1.15rem;
}
.about2-section .header-desc {
    margin-top: 10px;
    font-size: 1rem;
    color: #515151;
    font-weight: bold;
}
.about2-section .about-block {
    min-height: 350px;
    /*flex-wrap: nowrap;*/
    position: relative;
}
.about2-section .about-block-left {
    padding-left: 0;
    padding-right: 0;
}
.about2-section .about-block-image {
    /*width: 100%; */
    /* margin-top: 30px; */
     max-height: 550px; 
    /* height: 100%; */
    /* padding-left: 10%; */
    padding-right: 10%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.about2-section .about-block-right {
    padding-top: 5%;
}
.about2-section .about-content {
    margin-top: 5px;
    color: #676767;
}
.about2-section .about-content p {
    margin-bottom: 10px;
    font-size: 0.875rem;
    line-height: 1.7;
}
.about2-section .about-features {
    text-align: justify;
    font-size: 0.85rem;
    font-weight: 500;
    line-height: 2;
}
.about2-section .about-features li {
    color: #434343;
}
.about2-section .about-features .fa {
    margin-right: 10px;
    border: 1px solid #6D2C77;
    border-radius: 10px;
    color: #6D2C77;
    font-size: 0.65rem;
    padding: 0.1rem;
}

/* how it works section */
.how-it-works-section {
    background-color: #f9fafc;
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 50px;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
}
.how-it-works-section .header-1 {
    font-size: 2rem;
}
.how-it-works-section .header-desc {
    font-size: 1.05rem;
    color: #676767;
    max-width: 800px;
    margin: auto;
}
.how-it-works-img {
    width: 80%;
    /*max-width: 900px;*/
    height: auto;
}
.how-it-works-content {
    width: 85%;
    /* max-width: 900px; */
    display: flex;
    position: relative;
    justify-content: space-around;
    padding-right: 6%;
    padding-left: 0;
}
.how-it-works-box {
    text-align: center;
    /*max-width: 180px;*/
    width: 20%;
}
.how-it-works-box .box-title {
    font-size: 1.25rem;
    font-weight: 600;
}
.how-it-works-box .box-description {
    color: #4d4d4d;
    font-size: 0.7rem;
}
.how-it-works-box.box1 {
    /*position: absolute;
    left: -75px;
    top: -50%;*/
    margin-top: 10px;
}
.how-it-works-box.box2 {
    margin-top: -1%;
}
.how-it-works-box.box3 {
    /*position: absolute;
    right: -80px;
    top: -50%;*/
    margin-top: -2%;
}

/* service-block */
.service-section .header-1 {
    font-weight: 400;
    font-size: 2.15rem;
}
.service-block {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    color: rgba(0,0,0,.87);
    padding: 0 5%;
}
.service-block .service-box {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    /*min-width: 250px;*/
    /*height: 280px;*/
    cursor: pointer;
    /*padding-left: 50px;
    padding-right: 50px;*/
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
}
.service-block .service-box .service-box-title {
    position: absolute;
    font-family: "Poppins","Roboto",sans-serif;
    font-size: 1.17rem;
    color: #ffffff;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #6c2c78;
    opacity: 0.85;
    border-radius: 10px;
}
.service-block .service-box .service-box-title img {
    width: 45px;
    height: 45px;
}
.service-block .service-box .service-box-title {
    height: 50px;
    line-height: 50px;
}
.service-block .service-box .service-box-title span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5;
}
.service-block .service-box .service-box-title .title {
    margin-left: 10px;
    line-height: 1.2;
    font-size: 0.95rem;
    font-weight: 400;
}
.service-block .service-box .title-mask {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    background-color: #333333;
    opacity: 0.5;
    display: none;
}
.service-block .service-box .service-box-image img {
    -webkit-transform: scale(1.16);
    -moz-transform: scale(1.16);
    transform: scale(1.16);
    /*-webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);*/
    -moz-transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
    -ms-transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
    -o-transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
    -webkit-transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
    transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
    width: 100%;
    height: 100%;
}
.service-block .service-box:hover .service-box-image img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
}
.service-block .service-block-image {
    /*max-height: 550px; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.service-block .service-block-left>.row {
    justify-content: center;
}

@media only screen and (max-width: 992px) {
    

}

@media only screen and (max-width: 691px) {
    

}

/* responsive */

@media (max-width: 768px) {

    .about-section .header-1 {
        font-size: 1.6rem;
    }

    .order-text .order-title {
        font-size: 1.6rem;
        line-height: 1.5;
    }

    .about2-section .header-1 {
        font-size:1.6rem;
    }

    .how-it-works-box {
        width: 100%;
    }
    
    .how-it-works-box.box1, .how-it-works-box.box2, .how-it-works-box.box3 {
        position: initial;
        margin-top: 15px;
    }

}